#header
    z-index: 99
    position: fixed
    left: 0
    top: 0
    width: 100%
    .navbar
        border-radius: 0
        height: 62px
        &.navbar-default
            background: rgba($primary, 0.1)
            border: none
            border-bottom: 1px solid rgba($primary, 0.05)
    .navbar-brand
        color: $secondary
        text-indent: -999px
        padding: 0
        height: 62px
        .logo
            position: relative
            top: -11px
