<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-init="navbarCollapsed=true" ng-click="navbarCollapsed=!navbarCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Calvary Chapel Chronicles
                        <img class="logo" src="images/calvary-dove.png" alt="Calvary Chapel" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" collapse="navbarCollapsed">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="btn btn-primary btn-purchase" href="http://thechapelstore.com/advanced_search_result.php?osCsid=j5tl8e05pljd5el2pc16e85866&keywords=birth+calvary+chapel&x=7&y=10&inc_subcat=1" target="_blank">
                                <i class="icon-basket"></i>
                                Purchase Now
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>