<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="pull-left">Copyright &copy; 2014 Sharon Fischer.</p>
            <a class="btn btn-primary btn-purchase pull-right" href="http://thechapelstore.com/advanced_search_result.php?osCsid=j5tl8e05pljd5el2pc16e85866&keywords=birth+calvary+chapel&x=7&y=10&inc_subcat=1" target="_blank">
                <i class="icon-basket"></i>
                Purchase Now
            </a>
        </div>
    </div>
</div>