<div id="teaser" class="parallax-panel">
    <img class="img-parallax" width="100%" du-parallax y="background" src="images/calvary-chapel-tent.jpg">
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h1>
                        I Remember...
                        <span>The Birth of Calvary Chapel</span>
                    </h1>
                    <p>“It all began more than fifty years ago, when just a few of us gathered for the first time in a humble trailer court recreation room on Newport Boulevard in Costa Mesa, California. We stood on the threshold—the enormity of what was before us we could not have imagined in our wildest dreams. ‘The Lord was in this place, and we didn’t know it’–– this could have been said of the ten or twelve people who gathered that first Sunday on a spring morning in 1961.”</p>
                </div>
            </div>
        </div>
    </div>
</div>
<img class="book-render" src="images/i-remember-hardback.png">
<div id="author">
    
</div>

<div id="endorsements"></div>

<div id="email" class="parallax-panel">
    <img class="img-parallax" width="100%" du-parallax y="background" src="images/church-street-chapel.jpg">
</div>