<div id="teaser" class="parallax-panel">
    <img class="img-parallax" width="100%" du-parallax y="background" src="images/calvary-chapel-tent.jpg">
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h1>
                    I Remember...
                    <span>The Birth of Calvary Chapel</span>
                    </h1>
                    <p>“It all began more than fifty years ago, when just a few of us gathered for the first time in a humble trailer court recreation room on Newport Boulevard in Costa Mesa, California. We stood on the threshold—the enormity of what was before us we could not have imagined in our wildest dreams. ‘The Lord was in this place, and we didn’t know it’–– this could have been said of the ten or twelve people who gathered that first Sunday on a spring morning in 1961.”</p>
                    <a class="btn btn-primary btn-purchase" href="http://thechapelstore.com/advanced_search_result.php?osCsid=j5tl8e05pljd5el2pc16e85866&keywords=birth+calvary+chapel&x=7&y=10&inc_subcat=1" target="_blank">
                        <i class="icon-basket"></i>
                        Purchase Now
                    </a>
                    <p class="info">* You will be redirected to the <a href="http://thechapelstore.com/advanced_search_result.php?osCsid=j5tl8e05pljd5el2pc16e85866&keywords=birth+calvary+chapel&x=7&y=10&inc_subcat=1" target="_blank">Calvary Store</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<img class="book-render hidden-xs hidden-sm" src="images/i-remember-hardback.png">
<div id="author">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="col-xs-12 col-md-4">
                    <img class="headshot img-responsive" src="images/Sharon-Fischer.png" alt="Sharon Fischer">
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1>About the Author</h1>
                    <p class="bio">In 1961, Sharon Fischer, along with her husband Hal, and their five-year-old daughter, Terri Ann, attended the first service of Calvary Chapel held in a mobile home park recreation room with ten others.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="endorsements">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Endorsements</h1>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="endorsement">
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <img class="headshot img-responsive" src="images/Dave-Rolph.png" alt="Dave Rolph">
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <p>
                            I am so blessed that Sharon Fischer has taken the time to write down her recollections of the history and impact of Calvary Chapel. Sharon and her husband Hal have been vital participants at Calvary Chapel since it's inception right up until the present, and their story needs to be told. The story involves a lot of fascinating people, including Pastor Chuck and so many others, but the true story is really about Jesus, who receives all the glory for what He has done and continues to do. It is really His story that Sharon has written. Anyone who desires to understand the legacy of Calvary Chapel simply must read this book."
                            </p>
                            <p class="author">
                            <strong>Dave Rolph</strong><br>
                            Pastor of Calvary Chapel, Aliso Viejo
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="endorsement">
                    <img src="images/Dave-Rolph.png" alt="Dave Rolph" class="headshot pull-left">
                    <p>
                    I am so blessed that Sharon Fischer has taken the time to write down her recollections of the history and impact of Calvary Chapel. Sharon and her husband Hal have been vital participants at Calvary Chapel since it's inception right up until the present, and their story needs to be told. The story involves a lot of fascinating people, including Pastor Chuck and so many others, but the true story is really about Jesus, who receives all the glory for what He has done and continues to do. It is really His story that Sharon has written. Anyone who desires to understand the legacy of Calvary Chapel simply must read this book."
                    </p>
                    <p class="author">
                    Dave Rolph,<br>
                    Pastor of Calvary Chapel, Aliso Viejo
                    </p>
                </div> -->
                <div class="endorsement">
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <img src="images/Tom-Gazsi.png" alt="Tom-Gazsi" class="headshot img-responsive">
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <p>
                            Sharon and Hal Fisher were among the few founding members who sought to fellowship regularly with other Christian Costa Mesa families in the early 1960s and formed Calvary Chapel of Costa Mesa.  At the time, Harold Fisher was a young Costa Mesa police officer who saw his profession as a ministry as well.   As his career grew in leadership influence (he later retired as chief of police), so did the tiny fellowship of Calvary Chapel begin to grow remarkably.  Over the 54-year history of Calvary Chapel of Costa Mesa, many police officers served in their profession while contributing within the ministry.
                            </p>
                            <p>
                            In the early 1960s Chuck and Kay reached out to the destitute hippie generation around Costa Mesa and Newport Beach. This was not an attractive subculture that churches welcomed to services. Yet as local police officers saw this incredible need for these young people to hear about the Lord, so did Pastor Chuck and Kay Smith. Although not a demographic that would fill offering plates, these addicted searching youths were open to the cleansing power of the Word of God. Faithfully taught, the gospel message would bring thousands of these young people to believe in Christ as their Savior. Consequently, their liberty from addiction led many of them on to successful, productive lives, often in ministry.
                            </p>
                            <p>
                            As the Costa Mesa Police Department celebrates its sixty-year anniversary on December 16, 2013, there is a wonderful parallel of servant-based leadership demonstrated among the “Peace Makers” in both organizations.  May the Lord continue to be honored in all that He has done so faithfully in Calvary Chapel and in Costa Mesa.
                            </p>
                            <p class="author">
                            <strong>Tom Gazsi</strong><br>
                            Chief of Police
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="endorsement">
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <img src="images/Mike-MacIntosh.png" alt="Mike-MacIntosh" class="headshot img-responsive">
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <p>
                            This book has been wisely written to glorify God. The truth has been shared to help people understand the answered prayers of those in the beginning and the true origin of Calvary Chapel, Costa Mesa. It will also serve as an inspiration to pastors who have God’s call on their lives. It’s almost like the final scene of a good movie.
                            </p>
                            <p class="author">
                            <strong>Mike MacIntosh</strong><br>
                            Pastor, Horizon Christian Fellowship<br>
                            San Diego, California
                            </p>
                        </div>
                    </div>
                </div>
                <div class="endorsement">
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <img class="headshot img-responsive" src="images/John-Higgins.png" alt="John Higgins">
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <p>
                            Peculiar things are done by God through peculiar people. The beginnings of Calvary Chapel really were peculiar days. We are hoping for more of the same before Christ returns for His Church. The early days of this fellowship were truly a time of revival. Everyone loved God's Word, and Jesus was all that anyone needed. We had only one book, the Bible, and our love for one another grew and grew. That's revival!
                            </p>
                            <p>
                            When the time of God’s outpouring ended, books by men were being written about the Bible, and formulas were being concocted for church growth. Christians began writing books on how to attain things like money and sensual pleasures, and leaven became an acceptable factor in the Body of Christ. The Bible became liberalized with many different “versions,” and that love that we had for each other, sadly, seemed to fade.
                            </p>
                            <p>
                            We continue to look and to pray for that “love of the Truth” revival to come once again from on high throughout the whole world.
                            </p>
                            <p>
                            I pray that this book reaches many for the Gospel of Jesus Christ.
                            </p>
                            <p class="author">
                            In Jesus,<br>
                            <strong>Pastor John Higgins</strong><br>
                            Calvary Tri City, Arizona
                            </p>
                        </div>
                    </div>
                </div>
                <div class="endorsement">
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <img class="headshot img-responsive" src="images/Skip-Heitzig.png" alt="Skip Heitzig">
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <p>
                            "God's faithfulness is woven into the fabric of this supernatural tale of God's work through Calvary Chapel. Sharon and Hal Fischer have seen and lived it firsthand and relate a winsome account of the earliest days as we all watched and marveled at God‘s extraordinary goodness. I'm personally thankful for Hal and Sharon's ministry to the body of Christ and their dedication to His Word and work."
                            </p>
                            <p class="author">
                            <strong>Skip Heitzig</strong><br>
                            Senior Pastor, Calvary Albuquerque
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="email" class="parallax-panel">
    <img class="img-parallax" width="100%" du-parallax y="background" src="images/church-street-chapel.jpg">
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Sign up for the email list</h1>
                    <form name="mailchimp" role="form" ng-hide="submitted" ng-submit="subscribe()">
                        <div class="input-group">
                            <input type="email" class="form-control" id="email-address" ng-model="email" placeholder="enter your email address">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-submit" type="submit">Submit</button>
                            </span>
                        </div>
                    </form>
                    <div class="alert alert-{{result}}" role="alert" ng-show="submitted===true" ng-bind-html="message">
                    </div>
                    <p class="info">* We value your privacy. Your personal information will be kept confidential and will never be sold to third parties.</p>
                </div>
            </div>
        </div>
    </div>
</div>